* {
  padding: 0%;
  margin: 0%;
  font-family: Montserrat;
}

:root {
  --primary-blue: #00ADB5;
  --off-white: #eee;
  --black: rgb(19, 19, 19);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
