@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  padding: 0%;
  margin: 0%;
  font-family: Montserrat;
  box-sizing: border-box;
}


:root {
  --primary-blue: #00ADB5;
  --off-white: #eee;
  --black: rgb(19, 19, 19);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


@media (max-width: 600px ) {
  html {
    font-size: 85%;
  }
}


/* --------------- Animations ----------------- */



.animeLeftSlow {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeftSlow .5s forwards;
}

@keyframes animeLeftSlow {
  to {
      opacity: 1;
      transform: initial;
  }

}
.animeLeftSuperSlow {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeftSuperSlow 1.5s forwards;
}

@keyframes animeLeftSuperSlow {
  to {
      opacity: 1;
      transform: initial;
  }

}
