.container {
    padding: 6rem 2rem 2rem 3rem;
    width: 100%;
    max-width: 500px;
}

.login {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title {
    padding: 18rem 0rem 0rem 8rem;
    color: var(--off-white);
    font-size: 2.5rem;
    height: 100vh;
}

.backgroundTitle {
    background-color: var(--primary-blue);
}

.span {
    font-weight: 200;
}

.register {
    padding: 2rem 0rem 8rem 3rem;
}

.registerTitle {
    color: var(--primary-blue);
}

.paragraph {
    padding: 1rem 1rem 1rem 0rem;
}

.forgot {
    font-weight: 600;
    text-decoration: underline;
    color: var(--primary-blue);
    opacity: .7;
    transition: .2s;
}

.forgot:hover {
    opacity: 1;
}

.forgotContainer {
    padding-top: 2rem;
}



.h1 {
    padding-bottom: 1rem;
    color: var(--primary-blue);
}



@media (max-width:1000px) {
    .container {
        padding: 3rem 2rem 2rem 3rem;
    }
    
    .login {
        display: block;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 3rem;
    }

    .title {
        padding: 5rem 0rem 5rem 3rem;
        height: auto;
    }
}