.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #eee;
    align-items: center;
    box-shadow: 2px 0px 5px rgb(175, 175, 175);
}

.nav {
    display: flex;
}

.ul {
    display: flex;
    gap: 5rem;
}