.mainContainer {
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .2);
    height: 100%;
    min-height: 350px;
    margin-top: 5rem;
    border-radius: .5rem;
    background-color: rgb(239, 239, 239);
}

.container {
    height: 250px;
    scroll-behavior: smooth;
    overflow: auto;
    width: 300px;
}

.title {
    text-align: center;
    color: var(--primary-blue);
    margin-top: 1rem;
}

.img {
    border-radius: 80%;
    max-height: 50%;
    width: 50px;
}

.employeesContainer {
    display: flex;
    padding: 1rem;
    margin-top: .5rem;
}

.text {
    padding-left: 0.5rem;
}


@media (max-width:1300px) {
    .title {

        align-items: center;
    }

    .mainContainer {
       padding: 1rem;
    }

    .container {
        width: 100%;
        max-width: 900px;
    }

    .ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}


@media (max-width: 600px) {
    .mainContainer {
        padding-top: 3rem;
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
    }

    .title {
        text-align: center;
    }

    .ul {
        margin: 0 auto;
        display: block;
    }
}