.spinner {
    border-radius: 50%;
    border: 5px solid;
    border-color: #dbdcef;
    border-right-color: var(--primary-blue);
    animation: spinner-d3wgkg 1s infinite linear;
    margin: 0 auto;
    cursor:progress;
}

@keyframes spinner-d3wgkg {
    to {
        transform: rotate(1turn);
    }
}