.overlay {
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0, .75);
    backdrop-filter: blur(4.5px);
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1000;
    justify-content: center;
    padding: 1rem;
}

.modalBody {
    background-color: #fff;
    width: 100%;
    max-width: 480px;
    border-radius: .5rem;
    padding: 2.5rem;

    z-index: 1000;
    position: relative;
    transition: .2s;
    animation: modalAnimation .5s;
}

@keyframes modalAnimation {
    from {
        opacity: 0;
        transform: translateY(-50px);;
    }
    to {
        opacity: 1;
        transform: translateY(0px);;
    }
}

.h1 {
    margin-bottom: 1rem;
    color: var(--primary-blue);
    text-align: center;
}

.label {
    display: block;
    font-size: 1rem;
    line-height: 1;
}

.closeButton img {
    width: 100%;
    max-width: 15px;
    
}

.closeButton {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    margin-right: 1rem;
    margin-top: 1rem;
    top: 0;
    cursor: pointer;
    opacity: 0.65;
    transition: .2s;
}

.closeButton:hover {
    opacity: 1;
}
