.button {
    padding: 1rem;
    background-color: var(--primary-blue);
    border: none;
    border-radius: 0.4rem;
    color: var(--off-white);
    cursor: pointer;
    min-width: 150px;
    transition: 0.3s;
    box-shadow: 0px 4px 15px #00acb57b;
    font-weight: 600;
}

.button:hover {
    scale: 102%;
}

.button:disabled {
    opacity: .5;
    cursor: wait;
}